# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'difile'
      'submenu': [
        {
          'label': 'Difile: Compare with other branch'
          'command': 'difile:toggle'
        },
        {
          'label': 'Difile: Compare with other branch (difftool)'
          'command': 'difile:difftool-toggle'
        },
        {
          'label': 'Difile: Compare with other branch ( HTML View )'
          'command': 'difile:custom-diff-toggle'
        },
        {
          'label': 'Difile: Checkout version from other branch'
          'command': 'difile:checkout-version-from-other-branch'
        },
      ]
    ]
  }
]
